.page-policy-privace {
    margin: 0 auto;
    max-width: 70%;
    text-align: justify;
    color: #5a5a5a;
    
    margin-bottom: 50px;

    h2 {
        color: $secondary-color;
        margin-top: 30px;
    }

    h3 {
        margin-top: 15px;
        font-weight: 600;
    }

    li {
        margin-left: 30px;
        margin-bottom: 5px;
    }
}